.header-container {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  background-size: cover;
  color: white;
}

.top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-text {
  font-size: 2rem;
  font-style: italic;
  font-weight: bold;
  margin-left: 20px;
}

.nav {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-grow: 1;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  margin-left: 20px;
  transition: transform 0.3s ease; /* Ajout de la transition */
}

.nav-link:hover {
  color: #55686a;
  transform: translateY(-5px); /* Effet de montée */
}

.icons-container {
  font-size: 22px;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.icon {
  color: white;
  transition: transform 0.3s ease; /* Ajout de la transition */
}

.icon:hover {
  transform: translateY(-5px); /* Effet de montée */
}

.icon-link {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.icon-link:hover {
  color: #ff9800;
  transform: translateY(-5px); /* Effet de montée */
}

.bold-link {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: transform 0.3s ease; /* Ajout de la transition */
}

.bold-link:hover {
  color: #ff9800;
  transform: translateY(-5px); /* Effet de montée */
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: -1rem;
}

.search-input {
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  outline: none;
}

.search-icon {
  position: absolute;
  right: 10px;
  color: #333;
}

.suggestions-box {
  position: absolute;
  top: calc(100% + 5px); /* Positionner juste en dessous de la barre de recherche */
  left: auto;
  right: 0; /* Alignement à droite */
  width: auto;
  min-width: 200px; /* Largeur minimum pour la boîte de suggestions */
  background: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); /* Ombre plus prononcée pour un meilleur effet */
  z-index: 10;
}

.suggestion {
  padding: 0.5rem;
  cursor: pointer;
  color: #333;
}

.suggestion:hover {
  background-color: #f0f0f0;
}
