.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 80px ;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
  }
  
  .logo {
    font-size: 2rem;
    color: #004080;
  }
  
  .search-bar {
    padding: 10px;
    font-size: 1rem;
    border: 2px solid #004080;
    border-radius: 5px;
  }
  
  .filters {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .filter-button {
    position: relative;
    padding: 10px 20px;
    background-color: #004080;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .filter-options {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    background-color: white;
    border: 1px solid #004080;
    border-radius: 5px;
    z-index: 10;
  }
  
  .filter-button:hover .filter-options {
    display: block;
  }
  
  .filter-options button {
    display: block;
    padding: 10px;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
  }
  
  .selected-filter {
    margin-bottom: 20px;
    font-weight: bold;
    color: #004080; /* Changer la couleur du texte */
  }
  
  .results, .promotions {
    margin-top: 20px;
  }
  
  .section-title {
    font-size: 1.5rem;
    color: #004080;
    margin-bottom: 10px;
  }
  
  .product-slider {
    display: flex;
    align-items: center;
  }
  
  .product-grid {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    transition: transform 0.5s ease;
  }

  .product-link {
    text-decoration: none;
    color: inherit;
  }  
  
  .product-card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
    margin: 0 10px;
    text-align: center;
    padding: 10px;
    position: relative;
    transition: transform 0.2s ease, box-shadow 0.2s ease; /* Transition pour l'effet de survol */
  }
  
  .product-card:hover {
    transform: translateY(-10px); /* Effet de survol pour faire monter l'article */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Effet de survol pour l'ombre */
  }
  
  .product-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
  }
  
  .product-info {
    padding: 10px;
  }
  
  .product-name {
    font-size: 1rem;
    color: #004080;
    font-weight: bold;
  }
  
  .product-price {
    font-size: 1.2rem;
    color: #e60000;
    font-weight: bold;
  }
  
  .product-sale {
    font-size: 1rem;
    color: #e60000;
    font-weight: bold;
  }
  
  .slider-arrow {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: #004080;
  }
  
  .solde-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: auto;
  }
  